* {
	font-family: Fira Sans Regular;
}

html,
body {
	@apply min-h-screen w-full m-0 p-0;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background: #e11d48;
}

::-webkit-scrollbar-thumb {
	background: #101010;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

code {
	@apply text-sm p-2 rounded bg-gray-500 w-full;
}
